{% extends 'layouts/app.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %} Rooms {% endblock %}
{% block content %}

    <br>
    <br>
    <br>

    <section class="layout-pt-md layout-pb-lg">
        <div class="container">
            <div class="row justify-center text-center">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Our Rooms</h2>
                    </div>
                </div>
            </div>
            <div class="row y-gap-30">
                {% comment %} <div class="col-xl-3">
                    {% include 'inc/sidebar.html' %}
                </div> {% endcomment %}
                <div class="col-xl-12">
                    <div class="row y-gap-10 items-center justify-between">
                        <div class="col-auto">
                            <div class="text-18"><span class="fw-500">{{ rooms_count }} rooms</span></div>
                        </div>

                        {% comment %} <div class="col-auto">
                            <div class="row x-gap-20 y-gap-20">
                                <div class="col-auto">
                                    <button class="button -blue-1 h-40 px-20 rounded-100 bg-blue-1-05 text-15 text-blue-1">
                                        <i class="icon-up-down text-14 mr-10"></i>
                                        Top picks for your search
                                    </button>
                                </div>

                                <div class="col-auto d-none lg:d-block">
                                    <button data-x-click="filterPopup" class="button -blue-1 h-40 px-20 rounded-100 bg-blue-1-05 text-15 text-blue-1">
                                        <i class="icon-up-down text-14 mr-10"></i>
                                        Filter
                                    </button>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>
                    <div class="mt-30"></div>
                    <div class="row y-gap-30">
                        {% for room in rooms %}
                            <div class="col-12">
                                <div class="border-top-light pt-30">
                                    <div class="row x-gap-20 y-gap-20">
                                        <div class="col-md-auto">
                                            <div class="cardImage ratio ratio-1:1 w-250 md:w-1/1 rounded-4">
                                                <div class="cardImage__content">
                                                    <div class="cardImage-slider rounded-4 overflow-hidden js-cardImage-slider">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <img class="col-12" src="{{ room.image.url }}" alt="{{ room.name }}">
                                                            </div>
                                                            {% for image in room.images.all %}
                                                                <div class="swiper-slide">
                                                                    <img class="col-12" src="{{ image.image.url }}" alt="{{ room.name }}">
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="cardImage-slider__pagination js-pagination"></div>
                                                        <div class="cardImage-slider__nav -prev">
                                                            <button class="button -blue-1 bg-white size-30 rounded-full shadow-2 js-prev">
                                                                <i class="icon-chevron-left text-10"></i>
                                                            </button>
                                                        </div>
                                                        <div class="cardImage-slider__nav -next">
                                                            <button class="button -blue-1 bg-white size-30 rounded-full shadow-2 js-next">
                                                                <i class="icon-chevron-right text-10"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cardImage__wishlist">
                                                    <button class="button -blue-1 bg-white size-30 rounded-full shadow-2">
                                                        <i class="icon-eye text-12"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <h3 class="text-18 lh-16 fw-500">
                                                {{ room.name }}
                                                <div class="d-inline-block ml-10">
                                                    <!-- Display full stars based on rating -->
                                                        {% for star in room.overall_rating|floatformat:0|int|times %}
                                                        <i class="icon-star text-10 text-yellow-2"></i>
                                                    {% endfor %}
                                                    <!-- Display empty stars to complete 5 stars -->
                                                    {% for empty_star in 5|add:-room.overall_rating|floatformat:0|int|times %}
                                                        <i class="icon-star text-10 text-light-1"></i>
                                                    {% endfor %}
                                                </div>
                                            </h3>

                                            <div class="row x-gap-10 y-gap-10 items-center pt-10">
                                                <div class="col-auto">
                                                    <p class="text-14">{{ settings.address }}</p>
                                                </div>
                                            </div>
                                            <div class="row x-gap-10 y-gap-10 pt-20">
                                                {% for amenity in room.amenities.all %}
                                                    <div class="col-auto">
                                                        <div class="border-light rounded-100 py-5 px-20 text-14 lh-14">{{ amenity.name }}</div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-auto text-right md:text-left">
                                            <div class="row x-gap-10 y-gap-10 justify-end items-center md:justify-start">
                                                <div class="col-auto">
                                                    <div class="text-14 lh-14 fw-500">Rating</div>
                                                    <div class="text-14 lh-14 text-light-1">{{ room.total_reviews }} reviews</div>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="flex-center text-white fw-600 text-14 size-40 rounded-4 bg-blue-1">
                                                        {{ room.overall_rating|floatformat:1 }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="">
                                                <div class="text-14 text-light-1 mt-50 md:mt-20">{{ room.capacity }} people</div>
                                                <div class="text-22 lh-12 fw-600 mt-5">${{ room.price|intcomma }}</div>
                                                <div class="text-14 text-light-1 mt-5">$10 taxes and charges</div>

                                                <a href="{% url 'base:getRoom' room.slug %}" class="button -md -dark-1 bg-blue-1 text-white mt-24">
                                                    More Details <div class="icon-arrow-top-right ml-15"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}