{% extends 'layouts/app.html' %}
{% load static %}
{% load humanize %}
{% block title %} {{ room.name }} {% endblock %}
{% block content %}

    <br>
    <br>
    <br>

    <section class="py-10 d-flex items-center bg-light-2">
        <div class="container">
            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">
                    <div class="row x-gap-10 y-gap-5 items-center text-14 text-light-1">
                        <div class="col-auto">
                            <div class="">Home</div>
                        </div>
                            <div class="col-auto">
                            <div class="">></div>
                        </div>
                        <div class="col-auto">
                            <div class="">B&B Mountain View Rooms</div>
                        </div>
                        <div class="col-auto">
                            <div class="">></div>
                        </div>
                        <div class="col-auto">
                            <div class="text-dark-1">{{ room.name }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <a href="{% url 'base:rooms' %}" class="text-14 text-blue-1 underline">All Rooms</a>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-40">
        <div class="container">
            <div class="row justify-between items-end">
                <div class="col-auto">
                    <h1 class="text-26 fw-600">
                        {{ room.name }}
                    </h1>
                    <div class="d-flex x-gap-5 items-center pt-5">
                        <i class="icon-location-2 text-16 text-light-1"></i>
                        <div class="text-15 text-light-1">{{ settings.address }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-40">
        <div class="container js-pin-container">
            <div class="row y-gap-30">
                <div class="col-lg-8">
                    <div class="cruiseSlider">
                        <div class="cruiseSlider-slider relative">
                            <div class="d-flex js-cruise-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="{% if room.image %}{{ room.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}"" alt="{{ room.name }}" class="rounded-4">
                                    </div>
                                    {% for image in room.images.all %}
                                        <div class="swiper-slide">
                                            <img src="{% if image.image %}{{ image.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}" alt="image" class="rounded-4">
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="cruiseSlider__nav -prev js-prev">
                                    <button class="button -outline-white size-50 flex-center text-white rounded-full">
                                        <i class="icon-arrow-left"></i>
                                    </button>
                                </div>
                                <div class="cruiseSlider__nav -next js-next">
                                    <button class="button -outline-white size-50 flex-center text-white rounded-full">
                                        <i class="icon-arrow-right"></i>
                                    </button>
                                </div>
                                <div class="absolute h-full col-12 px-20 py-20 d-flex justify-end items-end">
                                    <a href="{% if room.image %}{{ room.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}" alt="{{ room.name }}" alt="{{ room.name }}" class="button px-24 py-15 -blue-1 bg-white z-2 js-gallery" data-gallery="gallery2">
                                        See All Photos
                                    </a>
                                    {% for image in room.images.all %}
                                        <a href="{% if image.image %}{{ image.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}" alt="{{ room.name }}" class="js-gallery" data-gallery="gallery2"></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="cruiseSlider-slides row x-gap-10 y-gap-10 pt-10 js-cruise-slides">
                            <div class="col-auto w-max-120">
                                <div class="cruiseSlider-slides__item h-full rounded-4 -is-active js-item">
                                    <img src="{% if room.image %}{{ room.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}" alt="{{ room.name }}" alt="{{ room.name }}" class="h-full object-cover">
                                </div>
                            </div>
                            {% for image in room.images.all %}
                                <div class="col-auto w-max-120">
                                    <div class="cruiseSlider-slides__item h-full rounded-4  js-item">
                                        <img src="{% if image.image %}{{ image.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}" alt="{{ room.name }}" alt="{{ room.name }}" class="h-full object-cover">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row x-gap-80 y-gap-40 pt-40">
                        <div class="col-12">
                            <h3 class="text-22 fw-500">Overview</h3>
                            <p class="text-dark-1 text-15 mt-20">
                                {{ room.description }}
                            </p>
                        </div>

                        <div class="container mt-40 mb-40">
                            <div class="border-top-light"></div>
                        </div>

                        <div class="col-12">
                            <h5 class="text-16 fw-500">Amenities</h5>
                            <ul class="list-disc text-15 mt-10" style="display: flex;">
                                {% for amenity in room.amenities.all %}
                                    <li class="ml-20">
                                        {{ amenity.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex justify-end js-pin-content" data-offset="350">
                        <div class="px-30 py-30 rounded-4 border-light bg-white w-360 lg:w-full shadow-4">
                            <div class="d-flex justify-between items-center">
                                <div class="text-14 text-light-1">
                                    From 
                                    <span class="text-20 fw-500 text-dark-1 ml-5">
                                        {% if selected_currency == 'USD' %}
                                            ${{ room.price_usd|intcomma }}
                                        {% else %}
                                            {{ room.price_rwf|intcomma }} RWF
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="d-flex items-center justify-end">
                                    <div class="text-14 lh-14 text-right">
                                        <div class="fw-600">Rating</div>
                                        {{ total_reviews }} reviews
                                    </div>
                                    <div class="flex-center size-40 rounded-4 bg-blue-1 text-1 fw-600 text-white ml-20">
                                        {{ overall_rating|floatformat:1 }}
                                    </div>
                                </div>
                            </div>
                            <form method="POST" action="{% url 'base:book_room' room.slug %}">
                                {% csrf_token %}
                                <div class="row y-gap-20 pt-30">
                                    <div class="col-12">
                                        <div class="form-input ">
                                            {{ form.name }}
                                            <label class="lh-1 text-16 text-light-1">Full Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-input ">
                                            {{ form.email }}
                                            <label class="lh-1 text-16 text-light-1">Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-input ">
                                            {{ form.phone }}
                                            <label class="lh-1 text-16 text-light-1">Phone Number</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="px-20 py-10 border-light rounded-4">
                                            <h4 class="text-15 fw-500 ls-2 lh-16">Select Dates</h4>
                                            <div>
                                                <label for="check-in-date">Check-in Date:</label>
                                                <input type="date" id="check-in-date" name="check_in_date" class="form-control" required>
                                            </div>
                                            <div>
                                                <label for="check-out-date">Check-out Date:</label>
                                                <input type="date" id="check-out-date" name="check_out_date" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-input ">
                                            {{ form.special_request }}
                                            <label class="lh-1 text-16 text-light-1">Special Request</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="button -dark-1 py-15 px-35 h-60 col-12 rounded-4 bg-blue-1 text-white">
                                            Book Now
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-40">
        <div class="container">
            <div class="row y-gap-20">
                <div class="col-auto">
                    <h2 class="text-22 fw-500">Location</h2>
                </div>
                <div class="col-12">
                    <div class="map rounded-4 map-500">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.4162130891827!2d30.056825011912657!3d-1.988286936790796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca5be108f7aa5%3A0x2abacadc67af2926!2sB%26B%20MOUNTAIN%20VIEW!5e0!3m2!1sen!2srw!4v1727166050562!5m2!1sen!2srw" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-40">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-22 fw-500">Guest reviews</h3>
                </div>
            </div>
            <div class="row y-gap-30 items-center pt-20">
                <div class="col-lg-3">
                    <div class="flex-center rounded-4 min-h-250 bg-blue-1-05">
                        <div class="text-center">
                            <div class="text-60 md:text-50 fw-600 text-blue-1">{{ overall_rating|floatformat:1 }}</div>
                            <div class="fw-500 lh-1">Rating</div>
                            <div class="text-14 text-light-1 lh-1 mt-5">{{ total_reviews }} reviews</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row y-gap-30">
                        <div class="col-md-4 col-sm-6">
                            <div class="">
                                <div class="d-flex items-center justify-between">
                                    <div class="text-15 fw-500">Location</div>
                                    <div class="text-15 text-light-1">{{ avg_location|floatformat:1 }}</div>
                                </div>
                                <div class="progressBar mt-10">
                                    <div class="progressBar__bg bg-blue-2"></div>
                                    <div class="progressBar__bar bg-dark-1" style="width: {{ avg_location|floatformat:1 }}0%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="">
                                <div class="d-flex items-center justify-between">
                                    <div class="text-15 fw-500">Staff</div>
                                    <div class="text-15 text-light-1">{{ avg_staff|floatformat:1 }}</div>
                                </div>
                                <div class="progressBar mt-10">
                                    <div class="progressBar__bg bg-blue-2"></div>
                                    <div class="progressBar__bar bg-dark-1" style="width: {{ avg_staff|floatformat:1 }}0%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="">
                                <div class="d-flex items-center justify-between">
                                    <div class="text-15 fw-500">Cleanliness</div>
                                    <div class="text-15 text-light-1">{{ avg_cleanliness|floatformat:1 }}</div>
                                </div>
                                <div class="progressBar mt-10">
                                    <div class="progressBar__bg bg-blue-2"></div>
                                    <div class="progressBar__bar bg-dark-1" style="width: {{ avg_cleanliness|floatformat:1 }}0%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="">
                                <div class="d-flex items-center justify-between">
                                    <div class="text-15 fw-500">Value for money</div>
                                    <div class="text-15 text-light-1">{{ avg_value_for_money|floatformat:1 }}</div>
                                </div>
                                <div class="progressBar mt-10">
                                    <div class="progressBar__bg bg-blue-2"></div>
                                    <div class="progressBar__bar bg-dark-1" style="width: {{ avg_value_for_money|floatformat:1 }}0%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="">
                                <div class="d-flex items-center justify-between">
                                    <div class="text-15 fw-500">Comfort</div>
                                    <div class="text-15 text-light-1">{{ avg_comfort|floatformat:1 }}</div>
                                </div>
                                <div class="progressBar mt-10">
                                    <div class="progressBar__bg bg-blue-2"></div>
                                    <div class="progressBar__bar bg-dark-1" style="width: {{ avg_comfort|floatformat:1 }}0%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="">
                                <div class="d-flex items-center justify-between">
                                    <div class="text-15 fw-500">Facilities</div>
                                    <div class="text-15 text-light-1">{{ avg_facilities|floatformat:1 }}</div>
                                </div>
                                <div class="progressBar mt-10">
                                    <div class="progressBar__bg bg-blue-2"></div>
                                    <div class="progressBar__bar bg-dark-1" style="width: {{ avg_facilities|floatformat:1 }}0%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="">
                                <div class="d-flex items-center justify-between">
                                    <div class="text-15 fw-500">Free WiFi</div>
                                    <div class="text-15 text-light-1">{{ avg_free_wifi|floatformat:1 }}</div>
                                </div>
                                <div class="progressBar mt-10">
                                    <div class="progressBar__bg bg-blue-2"></div>
                                    <div class="progressBar__bar bg-dark-1" style="width: {{ avg_free_wifi|floatformat:1 }}0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="mt-40 border-top-light"></div>
    </div>

    <section class="pt-40">
        <div class="container">
            <div class="row y-gap-60">
                {% for review in reviews %}
                    <div class="col-lg-6">
                        <div class="row x-gap-20 y-gap-20 items-center">
                            <div class="col-auto">
                                <img src="https://i.pinimg.com/736x/0d/64/98/0d64989794b1a4c9d89bff571d3d5842.jpg" alt="image" style="width: 60px;">
                            </div>
                            <div class="col-auto">
                                <div class="fw-500 lh-15">{{ review.name }}</div>
                                <div class="text-14 text-light-1 lh-15">{{ review.created_at|date:"F Y" }}</div>
                            </div>
                        </div>

                        <h5 class="fw-500 text-blue-1 mt-20">{{ review.overall_rating }} Superb</h5>
                        <p class="text-15 text-dark-1 mt-10">
                            {{ review.comment }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="container">
        <div class="mt-40 border-top-light"></div>
    </div>

    <section class="pt-40">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10">
                    <div class="row">
                        <div class="col-auto">
                            <h3 class="text-22 fw-500">Leave a Review</h3>
                            <p class="text-15 text-dark-1 mt-5">Your email address will not be published.</p>
                        </div>
                    </div>
                    <form method="POST" action="{% url 'base:post_review' room.slug %}">
                        {% csrf_token %}
                        <div class="row y-gap-30 pt-30">
                            <div class="col-xl-4">
                                <div class="text-15 lh-1 fw-500">Location</div>
                                {{ review_form.location }}
                            </div>
                            <div class="col-xl-4">
                                <div class="text-15 lh-1 fw-500">Staff</div>
                                {{ review_form.staff }}
                            </div>
                            <div class="col-xl-4">
                                <div class="text-15 lh-1 fw-500">Cleanliness</div>
                                {{ review_form.cleanliness }}
                            </div>
                            <div class="col-xl-4">
                                <div class="text-15 lh-1 fw-500">Value For Money</div>
                                {{ review_form.value_for_money }}
                            </div>
                            <div class="col-xl-4">
                                <div class="text-15 lh-1 fw-500">Comfort</div>
                                {{ review_form.comfort }}
                            </div>
                            <div class="col-xl-4">
                                <div class="text-15 lh-1 fw-500">Facilities</div>
                                {{ review_form.facilities }}
                            </div>
                            <div class="col-xl-4">
                                <div class="text-15 lh-1 fw-500">Free WIFI</div>
                                {{ review_form.free_wifi }}
                            </div>
                        </div>
                        <div class="row y-gap-30 pt-20">
                            <div class="col-xl-6">
                                <div class="form-input ">
                                    {{ review_form.name }}
                                    <label class="lh-1 text-16 text-light-1">Name</label>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-input ">
                                    {{ review_form.email }}
                                    <label class="lh-1 text-16 text-light-1">Email</label>
                                </div>
                            </div>
                            <!-- <div class="col-12">
                                <div class="form-input ">
                                    {{ review_form.comment }}
                                    <label class="lh-1 text-16 text-light-1">Write Your Comment</label>
                                </div>
                            </div> -->
                            <div class="col-12">
                                <div class="form-input ">
                                    <textarea required name="comment" rows="4"></textarea>
                                    <label class="lh-1 text-16 text-light-1">Write Your Comment</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="button -md -dark-1 bg-blue-1 text-white">
                                    Post Review <div class="icon-arrow-top-right ml-15"></div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="layout-pt-md"></div>

    <script>
        // Disable past dates for the check-in date input
        const today = new Date().toISOString().split('T')[0];
        document.getElementById('check-in-date').setAttribute('min', today);
    
        // Ensure that check-out date is after check-in date
        document.getElementById('check-in-date').addEventListener('change', function() {
            const checkInDate = this.value;
            document.getElementById('check-out-date').setAttribute('min', checkInDate);
        });

        document.querySelector("form").addEventListener("submit", function(e) {
            const checkIn = document.getElementById("check-in-date").value;
            const checkOut = document.getElementById("check-out-date").value;

            if (!checkIn || !checkOut) {
                e.preventDefault();
                alert("Please select both check-in and check-out dates.");
            }
        });
    </script>

{% endblock %}