{% load static %}

<!DOCTYPE html>
<html lang="en" data-x="html" data-x-toggle="html-overflow-hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-adsense-account" content="ca-pub-6967969838365445">
    <meta name="author" content="Developed by NEXCODE" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/vendors.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <title>B&B Mountain View | {% block title %} Home {% endblock %}</title>
</head>
<body>

    <main>
        {% include 'inc/header.html' %}

        {% block content %}{% endblock %}

        {% include 'inc/footer.html' %}
    </main>

    {% if messages %}
        <script>
            {% for message in messages %}
                Swal.fire({
                    icon: "{% if message.tags == 'error' %}error{% else %}success{% endif %}",
                    title: "{{ message }}",
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 5000
                });
            {% endfor %}
        </script>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        {% if messages %}
            {% for message in messages %}
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                {% if message.tags == 'success' %}
                    toastr.success("{{ message }}");
                {% elif message.tags == 'error' %}
                    toastr.error("{{ message }}");
                {% elif message.tags == 'warning' %}
                    toastr.warning("{{ message }}");
                {% elif message.tags == 'info' %}
                    toastr.info("{{ message }}");
                {% else %}
                    toastr.info("{{ message }}");
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6967969838365445" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM"></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="{% static 'js/vendors.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
