{% extends 'layouts/app.html' %}
{% load static %}
{% load humanize %}
{% block title %} Blog {% endblock %}
{% block content %}

    <br>
    <br>
    <br>
    <br>

    <section data-anim-wrap class="layout-pt-md layout-pb-lg">
        <div class="container">
            <div data-anim-child="slide-up delay-1" class="row justify-center text-center">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Travel articles</h2>
                        <p class=" sectionTitle__text mt-5 sm:mt-0">No article yet</p>
                    </div>
                </div>
            </div>
    
            {% for blog in blogs %}
                <div class="col-lg-4 col-sm-6">
                    <a href="{% url 'base:getBlog' blog.slug %}" class="blogCard -type-1 d-block ">
                        <div class="blogCard__image">
                            <div class="ratio ratio-4:3 rounded-8">
                                <img class="img-ratio js-lazy" src="{% if blog.image %}{{ blog.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}" alt="image">
                            </div>
                        </div>
                        <div class="pt-20">
                            <h4 class="text-dark-1 text-18 fw-500">
                                {{ blog.title }}
                            </h4>
                            <div class="text-light-1 text-15 lh-14 mt-5">{{ blog.created_at|date }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
