{% extends 'layouts/app.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %} Rooms {% endblock %}
{% block content %}

    <br>
    <br>
    <br>

    <section class="layout-pt-md layout-pb-lg">
        <div class="container">
            <div class="row justify-center text-center">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Our Food</h2>
                    </div>
                </div>
            </div>
            <div class="row y-gap-30 pt-40 sm:pt-20">
                {% for food in restaurant %}
                    <div class="col-lg-3 col-sm-6">
                        <a href="{% url 'base:getFood' food.slug %}" class="cruiseCard -type-1 rounded-4">
                            <div class="cruiseCard__image">
                                <div class="cardImage ratio ratio-6:5">
                                    <div class="cardImage__content">
                                        <div class="cardImage-slider rounded-4 overflow-hidden js-cardImage-slider">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img class="col-12" src="{% if food.image %}{{ food.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}" alt="{{ food.name }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cardImage__wishlist">
                                        <button class="button -blue-1 bg-white size-30 rounded-full shadow-2">
                                            <i class="icon-eye text-12"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="cruiseCard__content mt-10">
                                <h4 class="cruiseCard__title text-dark-1 text-18 lh-16 fw-500">
                                    <span>{{ food.name }}</span>
                                </h4>
                                <div class="row y-gap-20 justify-between items-center pt-5">
                                    <div class="col-auto">
                                        <div class="text-14 text-light-1">
                                            Price
                                            <span class="text-16 fw-500 text-dark-1">
                                                {% if selected_currency == 'USD' %}
                                                    ${{ food.price_usd|intcomma }}
                                                {% else %}
                                                    {{ food.price_rwf|intcomma }} RWF
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
