<header data-add-bg="bg-dark-1" class="header  js-header" data-x="header" data-x-toggle="is-menu-opened">
    <div data-anim="fade" class="header__container container">
        <div class="row justify-between items-center">
            <div class="col-auto">
                <div class="d-flex items-center">
                    <a href="index.html" class="header-logo mr-20" data-x="header-logo" data-x-toggle="is-logo-dark">
                        <img src="img/general/logo-light.svg" alt="logo icon">
                        <img src="img/general/logo-dark.svg" alt="logo icon">
                    </a>
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex items-center">
                    <div class="header-menu " data-x="mobile-menu" data-x-toggle="is-menu-active">
                        <div class="mobile-overlay"></div>
                        <div class="header-menu__content">
                            <div class="mobile-bg js-mobile-bg"></div>
                            <div class="menu js-navList">
                                <ul class="menu__nav text-white -is-active">
                                    <li>
                                        <a href="{% url 'base:home' %}">Home</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'base:home' %}">About Us</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'base:home' %}">Rooms</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'base:home' %}">Contact Us</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
                            </div>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="d-flex items-center ml-20 is-menu-opened-hide md:d-none">
                            <a href="{% url 'auth:logout' %}" class="button px-30 fw-400 text-14 -blue-1 bg-white h-50 text-dark-1">Sign Out</a>
                        </div>
                    {% else %}
                        <div class="d-flex items-center ml-20 is-menu-opened-hide md:d-none">
                            <a href="{% url 'auth:login' %}" class="button px-30 fw-400 text-14 -blue-1 bg-white h-50 text-dark-1">Sign In</a>
                            <a href="{% url 'auth:register' %}" class="button px-30 fw-400 text-14 border-white -blue-1 h-50 text-white ml-20">Register</a>
                        </div>
                    {% endif %}
                    <div class="d-none xl:d-flex x-gap-20 items-center pl-30 text-white" data-x="header-mobile-icons" data-x-toggle="text-white">
                        <div><a href="#" class="d-flex items-center icon-user text-inherit text-22"></a></div>
                        <div>
                            <button class="d-flex items-center icon-menu text-inherit text-20" data-x-click="html, header, header-logo, header-mobile-icons, mobile-menu"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>